// units

:root {
  --gap: 18px;
  --pageMargin: 18px;
  @media (min-width: 768px) {
    --gap: 24px;
    --pageMargin: 24px;
  }
  @media (min-width: 1280px) {
    --pageMargin: 48px;
  }
}

// typography

:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// colors

:root {
  --white: #ffffff;
  --black: #000000;
  --light: #fcf9f5;
  --dark: #32313b;

  --purple50: #f3ecf7;
  --purple100: #eadff8;
  --purple200: #d7c4fa;
  --purple300: #c2aafa;
  --purple400: #a990f5;
  --purple500: #8d75e6;
  --purple600: #7f69ce;
  --purple700: #6956a8;
  --purple800: #4d3e78;
  --purple900: #32274b;
}

// theming

:root {
  --background: var(--purple800);
  --foreground: var(--white);
  --accent: var(--purple600);
  color-scheme: dark;
}

// global styles

* {
  box-sizing: border-box;
  accent-color: var(--accent);
}

html {
  background-color: var(--background);
  color: var(--foreground);
}

body {
  margin: 0;
}

a {
  color: inherit;
}
